@media (max-width: 1200px) {
  .blog .box-container .box-wrapper .blog {
    padding: 0;
    padding-bottom: 7rem;
  }
  .blog .box-container .box-wrapper .image {
    padding-bottom: 0rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .newsletter .content {
    display: block;
    gap: 0;
    text-align: center;
  }
  .newsletter .content .input {
    width: 100%;
    padding: 0;
    padding-top: 3rem;
  }
  .newsletter .content .input input {
    height: 6rem;
    width: 80%;
  }
  .video .video-play {
    width: 100%;
    margin: 0 auto;
  }
  .about .box-container .text {
    padding-top: 1rem;
  }
  .video .video-desc h1 {
    font-size: 2.5rem;
  }
  .contact .box-container .text {
    padding-top: 4rem;
  }
  section.cart {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .features .contents {
    display: none;
  }
  .swiper {
    display: block;
    transform: scaleX(1);
  }
  .icons .fa-outdent {
    display: flex;
  }
  .icons {
    display: flex;
  }
  .icons i {
    padding-left: 1.5rem;
    font-size: 3rem;
  }
  .icons span {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 4rem;
  }
  #navbar {
    position: absolute;
    background-color: #e3e6f3;
    width: 45%;
    height: 100vh;
    top: 100%;
    right: 0;
    border: none;
    padding-top: 2rem;
    text-align: left;
    z-index: 1000;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  #navbar.show {
    transform: scaleY(1);
  }
  header .navigations .navbar a {
    display: block;
    width: 95%;
    padding: 2rem 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    height: 5rem;
    margin-bottom: 0.5rem;
  }
  header .navigations .navbar a:hover,
  header .navigations .navbar a.active {
    color: #fff;
    width: 95%;
    border: none;
    background-color: #088178;
  }
  section.blog {
    padding: 0 7%;
    padding-top: 15rem;
  }
  .blog .box-container .box-wrapper .box h3 {
    top: -14%;
  }
  .contact .box-container .text {
    padding-top: 0rem;
  }
  .form .box-container {
    padding: 4rem;
  }
  section.cart {
    width: 55%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
  header,
  section {
    padding: 5rem 6%;
  }
  header {
    height: 10rem;
  }
  #navbar {
    width: 60%;
  }
  .home {
    background-position: top 30%, right 30%;
  }
  .home .content h4 {
    font-size: var(--h4);
  }
  .home .content h2 {
    font-size: 3.5rem;
  }
  .home .content h1 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.4rem;
  }
  .banner .content h4 {
    font-size: 1.5rem;
    color: var(--white);
    padding-bottom: 1.5rem;
  }
  .banner .content p {
    font-weight: var(--fw);
    font-size: 2rem;
    color: var(--white);
    padding-bottom: 4rem;
  }
  .adverts .ad-container-2 .box:nth-child(2) .content {
    top: 12%;
  }
  .footer .box-container .box .foot-img img {
    width: 18rem;
  }
  .product-details .box-container .box .pro-images img {
    height: 45rem;
  }
  .product-details .box-container .box .pro-images .small-img-wrap img {
    width: 100%;
    height: 9rem;
  }
  .product-details .box-container .box .content {
    padding-top: 3rem;
  }
  .about .box-container .text {
    padding-top: 1rem;
  }
  .video .video-desc h1 {
    font-size: 2.5rem;
  }
  .form .box-container {
    padding: 2rem;
  }
  section.cart {
    width: 100%;
  }
  .cart-box {
    gap: 5rem;
  }
  .cart-box i {
    margin-left: 5rem;
  }
}
