@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  outline: none;
  text-decoration: none;
  transition: 0.5s ease;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #e3e6f3;
  border-radius: 0.6rem;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar-y::-webkit-scrollbar {
  margin-top: 5rem;
  width: 1rem;
}

.scrollbar-y::-webkit-scrollbar-track {
  background-color: #e3e6f3;
}

.scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #088178;
  border-radius: 1rem;
}
body {
  font-family: "Spartan", sans-serif;
  background-color: var(--white);
  color: var(--p-color);
}
:root {
  --h1: 3rem;
  --h2: 2.8rem;
  --h4: 1.3rem;
  --fw: 700;
  --p: 1rem;
  --lh-1: 4rem;
  --lh-2: 3.2rem;
  --white: #fff;
  --h-color: #222;
  --p-color: #465b52;
  --f-family: "Spartan", sans-serif;
}

/* general stylings */
section {
  padding: 5rem 6%;
}
.fa-times {
  font-size: 2rem;
}
#menu-btn .fa-times {
  font-size: 2rem;
}
.fas,
img {
  cursor: pointer;
}
.heading {
  color: #1a1a1a;
  font-size: 4rem;
  margin-top: 3.5rem;
  text-align: center;
}
.sub-heading {
  font-size: 1.5rem;
  color: #465b52;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.btn {
  padding: 1.5rem 3rem;
  background-color: var(--white);
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: var(--fw);
  border-radius: 0.5rem;
  transition: 0.4s ease;
}
.btn:hover {
  letter-spacing: 0.1rem;
  background-color: #088178;
  color: var(--white);
}
a {
  cursor: pointer;
  transition: 0.4s ease;
}
/* general stylings */

/* header section starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 6%;
  /* border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2); */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #e3e6f3;
}
header .navigations {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}
header .logo img {
  width: 12rem;
}
header .navigations .navbar {
  align-items: center;
  padding-top: 0.2rem;
  justify-content: center;
  text-align: center;
}
header .navigations .navbar a {
  margin: 0 1.5rem;
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.3s;
}
header .navigations .navbar a:hover,
header .navigations .navbar a.active {
  color: #088178;
  padding-bottom: 0.2rem;
  border-bottom: 0.3rem solid #088178;
}
.icons {
  display: flex;
  gap: 2rem;
  color: var(--white);
}
.icons i.active::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: #088178;
  position: absolute;
  top: 0.4rem;
  right: -5rem;
}
.icons i {
  font-size: 2rem;
  font-weight: bolder;
  color: #1a1a1a;
}
.icons .fa-outdent {
  display: none;
}
.icons i:hover {
  color: #088178;
  transform: scale(1.1);
}
.icons a.active {
  color: #088178;
  transform: scale(1.3);
}
/* header section ends */

/* home section starts */
.home {
  width: 100%;
  height: 100vh;
  background: url("extra-img/back1.png");
  background-repeat: no-repeat;
  background-position: top, right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home .content h4 {
  font-size: var(--h4);
  color: #1a1a1a;
  padding-bottom: 0.5rem;
}
.home .content h2 {
  text-transform: none;
  font-size: 4.5rem;
  color: #1a1a1a;
  font-weight: var(--fw);
  padding-bottom: 0.5rem;
}
.home .content h1 {
  text-transform: none;
  font-weight: var(--fw);
  font-size: 5.5rem;
  color: #088178;
  padding-bottom: 0.5rem;
}
.home .content p {
  text-transform: none;
  font-size: 1.4rem;
  color: #222;
  padding-bottom: 2rem;
}
.home .content button {
  background: url("extra-img/button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  color: #088178;
  font-size: 1.5rem;
  font-weight: var(--fw);
  cursor: pointer;
  padding: 1.5rem 5rem;
}
/* home section ends */

/* features section starts */
.features .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}
.features .contents .image,
.swipp {
  border-radius: 0.5rem;
  padding: 5rem 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.swip {
  display: none;
  transform: scaleX(0);
  padding: 3rem;
}
.features .contents .image:hover,
.swipp:hover {
  background-color: #e3e6f3;
}
.features .contents .image img,
.swipp img {
  width: 15rem;
  height: 10rem;
  padding-bottom: 1rem;
}
.features .contents .image h6,
.swipp h6 {
  color: #1a1a1a;
  font-weight: var(--fw);
  font-size: 1rem;
  padding: 1rem 0.5rem;
  line-height: 1;
  margin: 0 2.5rem;
}
.img-1 h6 {
  background-color: lightblue;
}
.img-2 h6 {
  background-color: pink;
}
.img-3 h6 {
  background-color: lightgreen;
}
.img-4 h6 {
  background-color: lightsteelblue;
}
.img-5 h6 {
  background-color: lavender;
}
.img-6 h6 {
  background-color: burlywood;
}
.img-1 h6 {
  background-color: lightblue;
}
/* features section ends */

/* product section starts */
.shop-items .box-container,
.products .box-container,
.arrivals .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  padding-bottom: 8rem;
}
.shop-items .box-container .box,
.products .box-container .box,
.arrivals .box-container .box {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
}
.shop-items .box-container .box:hover,
.products .box-container .box:hover,
.arrivals .box-container .box:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.shop-items .box-container .box .image,
.products .box-container .box .image,
.arrivals .box-container .box .image {
  width: 100%;
}
.shop-items .box-container .box .image img,
.products .box-container .box .image img,
.arrivals .box-container .box .image img {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
}
.shop-items .box-container .box .content,
.products .box-container .box .content,
.arrivals .box-container .box .content {
  padding: 2rem 0;
  padding-bottom: 1rem;
}
.shop-items .box-container .box .content h3,
.products .box-container .box .content h3,
.arrivals .box-container .box .content h3 {
  text-transform: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #465b52;
  padding-bottom: 0.5rem;
}
.shop-items .box-container .box .content p,
.products .box-container .box .content p,
.arrivals .box-container .box .content p {
  padding-bottom: 0.5rem;
  font-weight: var(--fw);
  font-size: 1.5rem;
  color: #1a1a1a;
}
.shop-items .box-container .box .content .stars,
.products .box-container .box .content .stars,
.arrivals .box-container .box .content .stars i {
  padding-bottom: 0.5rem;
  font-weight: var(--fw);
  font-size: 1.5rem;
  color: rgba(255, 255, 0, 0.986);
}
.shop-items .box-container .box .content .price,
.products .box-container .box .content .price,
.arrivals .box-container .box .content .price {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
}
.shop-items .box-container .box .content .price h6,
.products .box-container .box .content .price h6,
.arrivals .box-container .box .content .price h6 {
  font-size: 1.5rem;
  color: #088178;
}
.shop-items .box-container .box .content .price span i,
.products .box-container .box .content .price span i,
.arrivals .box-container .box .content .price span i {
  font-size: 1.5rem;
  color: #088178;
  border-radius: 50%;
  padding: 1rem;
  margin-top: -1rem;
  background-color: #e8f6ea;
}
.shop-items .box-container .box .content .price span i:hover,
.products .box-container .box .content .price span i:hover,
.arrivals .box-container .box .content .price span i:hover {
  background-color: #088178;
  color: var(--white);
}
/* product section ends */

/* banner section starts */
section.banner {
  background: url("banner-img/b2.jpg");
  text-align: center;
  padding: 0;
}
.banner .content {
  padding: 7rem 0.5rem;
  /* animation: moveX 10s linear infinite; */
}
@keyframes moveX {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.banner .content h4 {
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 1.5rem;
}
.banner .content p {
  font-weight: var(--fw);
  font-size: 3rem;
  color: var(--white);
  padding-bottom: 4rem;
}
.banner .content p span {
  color: red;
}
/* banner section ends */

/* adverts section starts */
.adverts .ad-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 3rem;
}
.adverts .ad-container-1 .ad-1 {
  flex: 1 1 45rem;
  width: 100%;
  height: 32rem;
  background: url("banner-img/b17.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.adverts .ad-container-1 .ad-2 {
  flex: 1 1 45rem;
  width: 100%;
  height: 32rem;
  background: url("banner-img/b10.jpg");
  background-position: center;
  background-size: cover;
}
.adverts .ad-container-1 .box .content {
  color: var(--white);
  padding: 3.5rem;
  top: 15%;
  position: relative;
}
.adverts .ad-container-1 .box .content h4 {
  color: #e3e6f3;
  text-transform: none;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.adverts .ad-container-1 .box .content h1 {
  color: var(--white);
  text-transform: none;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}
.adverts .ad-container-1 .box .content p {
  color: var(--white);
  text-transform: none;
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}
.adverts .ad-container-1 .box .content a {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: var(--fw);
  padding: 1.3rem 2rem;
  transition: 0.4s ease;
  border: 0.2rem solid var(--white);
}
.adverts .ad-container-1 .box:hover .content a {
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #088178;
  border: none;
}

.adverts .ad-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.adverts .ad-container-2 .ad-1 {
  flex: 1 1 30rem;
  background: url("banner-img/b7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: cover;
}
.adverts .ad-container-2 .ad-2 {
  background: url("banner-img/b4.jpg");
  flex: 1 1 30rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: cover;
}
.adverts .ad-container-2 .ad-3 {
  background: url("banner-img/b18.jpg");
  flex: 1 1 30rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: cover;
}
.adverts .ad-container-2 .box .content {
  color: var(--white);
  padding: 3.5rem;
  top: 15%;
  position: relative;
}
.adverts .ad-container-2 .box:nth-child(2) .content {
  top: 1%;
}

.adverts .ad-container-2 .box .content h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.adverts .ad-container-2 .box .content p {
  font-size: 1.5rem;
  color: red;
  font-weight: 600;
}
/* adverts section ends */

/* newsletter section starts */
section.newsletter {
  padding: 0;
}
.newsletter .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem 6%;
  background: url("banner-img/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter .content .news {
  flex: 1 1 45rem;
  width: 100%;
}
.newsletter .content .news h1 {
  color: var(--white);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.newsletter .content .news p {
  color: #818ea0;
  font-size: 1.5rem;
}
.newsletter .content .news p span {
  color: #ffbd27;
}
.newsletter .content .input {
  flex: 1 1 45rem;
  width: 100%;
  display: flex;
}
.newsletter .content .input input {
  width: 80%;
  padding-left: 1rem;
}
.newsletter .content .input .btn {
  width: 20%;
  padding: 0;
  border-radius: 0;
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #088178;
}

.newsletter .content .input .btn:hover {
  background-color: #044a46;
  letter-spacing: 0.1rem;
}
/* newsletter section ends */

/* footer section starts */
section.footer {
  padding-bottom: 2rem;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.footer .box-container .box {
  flex: 1 1 25rem;
}
.footer .box-container .box:nth-child(1) img {
  padding-bottom: 1.5rem;
}
.footer .box-container .box h3 {
  color: #1a1a1a;
  font-size: 1.7rem;
  padding-bottom: 1.5rem;
  font-weight: var(--fw);
}
.footer .box-container .box:nth-child(1) p {
  padding-bottom: 0.5rem;
}
.footer .box-container .box:nth-child(4) p {
  padding-bottom: 1rem;
}
.footer .box-container .box p {
  color: #1a1a1a;
  font-size: 1.2rem;
}
.footer .box-container .box p span {
  color: #1a1a1a;
  font-weight: var(--fw);
}
.footer .box-container .box .follow {
  padding-top: 2.5rem;
}
.footer .box-container .box .follow i {
  font-size: 1rem;
  padding-right: 0.5rem;
}
.footer .box-container .box:nth-child(2) a,
.footer .box-container .box:nth-child(3) a {
  display: block;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: #465b52;
}
.footer .box-container .box a:hover {
  color: #088178;
}
.footer .box-container .box .foot-img {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
}
.footer .box-container .box .foot-img img {
  border-radius: 0.5rem;
  border: 0.1rem solid #044a46;
}
.footer .credit {
  padding-top: 4rem;
  text-align: center;
  font-size: 1.2rem;
}
.footer .credit p span {
  color: #088178;
  font-weight: var(--fw);
}
/* footer section ends */

/* shop page starts */
/* shop session starts */
section.shop-banner {
  padding: 0;
  padding-top: 5rem;
}
.shop-banner .banner {
  text-align: center;
  background: url("banner-img/b1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-banner .banner .content {
  padding: 8rem 0;
}
.shop-banner .banner .content h1 {
  font-size: 5.5rem;
  color: var(--white);
  text-transform: none;
  padding-bottom: 1rem;
}
.shop-banner .banner .content p {
  font-size: 1.7rem;
  color: var(--white);
  color: #e3e6f3;
}
.shop {
  padding-top: 8rem;
}
section#pagination {
  padding: 0;
}
#pagination {
  text-align: center;
  margin-bottom: 5rem;
}
#pagination a {
  color: var(--white);
  background-color: #088178;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  font-weight: var(--fw);
}
/* shop session ends */
/* shop page ends */

/* product=details section starts */
.product-details .box-container {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-details .box-container .box {
  width: 100%;
  flex: 1 45rem;
}
.product-details .box-container .box .pro-images img {
  width: 100%;
  height: 60rem;
}
.product-details .box-container .box .pro-images .small-img-wrap {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.product-details .box-container .box .pro-images .small-img-wrap img {
  width: 100%;
  height: 12rem;
}
.product-details .box-container .box .content {
  padding-top: 10rem;
}
.product-details .box-container .box .content h3 {
  font-size: 1.2rem;
  color: #1a1a1a;
  padding-bottom: 0.5rem;
}
.product-details .box-container .box .content h1 {
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #1a1a1a;
  padding-bottom: 2rem;
}
.product-details .box-container .box .content h4 {
  font-size: 2rem;
  color: #1a1a1a;
  padding-bottom: 1rem;
}
.product-details .box-container .box .content select {
  font-size: 1.2rem;
  color: #465b52;
  border: 0.1rem solid #465b52;
  width: 10rem;
  height: 3rem;
  padding-left: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.product-details .box-container .box .content input {
  cursor: pointer;
  font-size: 1.2rem;
  color: #465b52;
  border: 0.1rem solid #465b52;
  width: 4rem;
  padding-left: 0.5rem;
  height: 4.5rem;
}
.product-details .box-container .box .content button {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white);
  background-color: #088178;
  font-weight: var(--fw);
  padding: 1.35rem 2rem;
}
.product-details .box-container .box .content button:hover {
  letter-spacing: 0.1rem;
}
.product-details .box-container .box .content p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
  color: #1a1a1a;
}
/* product=details section ends */

/* blog section starts */
section.blog-banner {
  padding: 0;
  padding-top: 5rem;
}
.blog-banner .banner {
  background: url("banner-img/b19.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-banner .banner .content {
  text-align: center;
  padding: 8rem 0;
}
.blog-banner .banner .content h1 {
  font-size: 5.5rem;
  color: var(--white);
  text-transform: none;
  padding-bottom: 1rem;
}
.blog-banner .banner .content p {
  font-size: 1.7rem;
  color: var(--white);
  color: #ccc;
}
section.blog {
  padding: 0 12%;
  padding-top: 15rem;
}
.blog .box-container .box-wrapper {
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.blog .box-container .box-wrapper .box {
  flex: 1 1 45rem;
  width: 100%;
  position: relative;
}
.blog .box-container .box-wrapper .image {
  padding-bottom: 5rem;
}
.blog .box-container .box-wrapper .box h3 {
  font-size: 8rem;
  position: absolute;
  top: -13%;
  z-index: -4;
  color: #1a1a1a;
}
.blog .box-container .box-wrapper .box img {
  width: 100%;
  height: 37rem;
  object-fit: cover;
  z-index: 4;
}
.blog .box-container .box-wrapper .box img:hover {
  filter: brightness(0.8);
}
.blog .box-container .box-wrapper .blog {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.blog .box-container .box-wrapper .box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  padding-bottom: 1.5rem;
}
.blog .box-container .box-wrapper .box p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #1a1a1a;
  padding-bottom: 1.5rem;
}
.blog .box-container .box-wrapper .box a {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #1a1a1a;
  position: relative;
  font-weight: var(--fw);
  transition: 0.5s;
}
.blog .box-container .box-wrapper .box a::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: #1a1a1a;
  position: absolute;
  top: 0.4rem;
  right: -5rem;
}
.blog .box-container .box-wrapper .box a:hover {
  letter-spacing: 0.1rem;
  color: #088178;
}
.blog .box-container .box-wrapper .box a:hover::after {
  background-color: #088178;
}
.swiper-button {
  text-align: center;
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
  justify-content: center;
}
.swiper-button i {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: var(--fw);
  background-color: #088178;
  padding: 1.5rem 2rem;
}
.swiper-button i:hover {
  transform: scaleX(1.2);
}
/* blog section ends */

/* about section starts */
section.about-banner {
  padding: 0;
  padding-top: 5rem;
}
.about-banner .banner {
  background: url("about-img/banner.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-banner .banner .content {
  text-align: center;
  padding: 8rem 0;
}
.about-banner .banner .content h1 {
  font-size: 5.5rem;
  color: var(--white);
  text-transform: none;
  padding-bottom: 1rem;
}
.about-banner .banner .content p {
  font-size: 1.7rem;
  color: var(--white);
  color: #ccc;
}
.about .box-container {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.about .box-container .box {
  flex: 1 1 45rem;
}
.about .box-container .image {
  width: 100%;
}
.about .box-container .image img {
  width: 100%;
}
.about .box-container .text {
  width: 100%;
  padding-top: 10rem;
}
.about .box-container .text h1 {
  font-size: 4rem;
  color: #1a1a1a;
  padding-bottom: 1rem;
  font-weight: var(--fw);
}
.about .box-container .text p {
  font-size: 1.5rem;
  color: #1a1a1a;
  line-height: 2;
  padding-bottom: 1rem;
}
marquee {
  font-size: 1.5rem;
  font-weight: var(--fw);
  background-color: #818ea0;
  color: var(--white);
  padding: 1rem 0;
}
section.video {
  padding-top: 7rem;
}
.video .video-desc {
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.video .video-desc h1 {
  font-size: 5rem;
}
.video .video-desc h1 a {
  text-decoration: underline;
}
.video .video-desc h1 a:hover {
  color: #088178;
  letter-spacing: 0.2rem;
}
.video .video-play {
  width: 70%;
  margin: 0 auto;
}
.video .video-play video {
  width: 100%;
  border-radius: 3rem;
}
.about-features {
  padding-bottom: 10rem;
}
/* about section ends */

/* contact section starts */
section.contact-banner {
  padding: 0;
  padding-top: 5rem;
}
.contact-banner .banner {
  background: url("about-img/banner.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-banner .banner .content {
  text-align: center;
  padding: 8rem 0;
}
.contact-banner .banner .content h1 {
  font-size: 5.5rem;
  color: var(--white);
  text-transform: none;
  padding-bottom: 1rem;
}
.contact-banner .banner .content p {
  font-size: 1.7rem;
  color: var(--white);
  color: #ccc;
}
.contact .box-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 6rem;
  padding-top: 5rem;
}
.contact .box-container .text {
  flex: 1 1 20rem;
  width: 100%;
  padding-top: 7rem;
}
.contact .box-container .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .box-container .map iframe {
  width: 100%;
  height: 45rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.contact .box-container .text h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #1a1a1a;
  padding-bottom: 1.5rem;
}
.contact .box-container .text h1 {
  font-size: 2rem;
  color: #1a1a1a;
  padding-bottom: 2rem;
}
.contact .box-container .text h4 {
  font-size: 1.2rem;
  font-weight: var(--fw);
  color: #1a1a1a;
  padding-bottom: 2rem;
}

.contact .box-container .text .location {
  display: flex;
  gap: 2.5rem;
}
.contact .box-container .text .location i {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: normal;
  padding-bottom: 2.5rem;
}
.contact .box-container .text .location span {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: normal;
}

.form .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6rem;
  border: 0.1rem solid #ccc;
  width: 100%;
  padding: 8rem;
  border-radius: 0.5rem;
}
.form .box-container .form {
  flex: 1 1 45rem;
}
.form .box-container .CEO {
  flex: 1 1 20rem;
}
.form .box-container .form h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #1a1a1a;
  padding-bottom: 1.5rem;
}
.form .box-container .form h1 {
  font-size: 2rem;
  color: #1a1a1a;
  padding-bottom: 2rem;
}

.form .box-container .form form input {
  display: block;
  width: 100%;
  border: 0.1rem solid #ccc;
  height: 5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}
.form .box-container .form form input:focus,
.form .box-container .form form textarea:focus {
  border: 0.1rem solid #088178;
}
.form .box-container .form form textarea {
  display: block;
  width: 100%;
  border: 0.1rem solid #ccc;
  height: 20rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
}
.form .box-container .form .btn {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: var(--white);
  background-color: #088178;
  border-radius: 0.5rem;
}
.form .box-container .form .btn:hover {
  background-color: #044a46;
  letter-spacing: 0.1rem;
}
.form .box-container .CEO .managers {
  flex: 1 1 10rem;
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
}
.form .box-container .CEO .managers .image img {
  width: 6rem;
}
.form .box-container .CEO .managers .text h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}
.form .box-container .CEO .managers .text p {
  font-weight: normal;
  line-height: 1.8;
  font-size: 1.5rem;
}
/* contact section ends */

/* cart section starts */
section.cart {
  transform-origin: left;
  position: fixed;
  padding-bottom: 50rem;
  top: 0%;
  right: 0;
  width: 30%;
  height: 100vh;
  padding: 2rem;
  z-index: 10000;
  overflow-x: hidden;
  background-color: var(--white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s ease;
}
#cart-items.showCart {
  transform: scaleX(1);
}
.cart-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #088178;
}
.cart-title h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: var(--fw);
}
.cart-title i {
  font-size: 2.2rem;
  font-weight: bolder;
}
.cart-box {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.cart-box img {
  width: 30%;
  object-fit: cover;
}
.detail-box {
  padding-top: 1rem;
}
.detail-box .cart-product-title {
  font-size: 1.3rem;
  font-weight: var(--fw);
  text-transform: uppercase;
  word-spacing: 0.5rem;
  padding-bottom: 1rem;
}
.cart-price {
  font-size: 1.3rem;
  font-weight: var(--fw);
  padding-bottom: 1rem;
}
.cart-size {
  padding-bottom: 1rem;
}
.cart-size select {
  cursor: pointer;
  background-color: #088178;
  color: var(--white);
  padding: 0.5rem;
  border-radius: 1rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.cart-quantity {
  border: 0.1rem solid #088178;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  outline: #041e42;
  font-size: 1.3rem;
  font-weight: var(--fw);
}
.cart-box i {
  margin-left: 3rem;
  margin-top: 1rem;
}
.cart-box i {
  font-size: 2rem;
  color: red;
  transition: 0.4s ease;
}
.cart-box i:hover {
  transform: scale(1.1);
}

.icons span {
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  clip-path: circle();
  background-color: #088178;
  color: var(--white);
}
#navbar.remove {
  display: none;
}
.remove-items {
  font-size: 10rem;
  color: #088178;
  font-weight: bolder;
  transition: 0.4s ease;
}
.remove-items:hover {
  transform: scale(1.2);
}
.item-summary {
  border: 0.1rem solid #1a1a1a;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}
.summary h2 {
  padding-bottom: 1rem;
  word-spacing: 0.3rem;
  font-size: 1.5rem;
  font-weight: var(--fw);
  color: #1a1a1a;
}

.details {
  background-color: #088178;
  padding: 0 1rem;
  align-items: center;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.details h2 {
  color: var(--white);
}
.coupon h2 {
  color: #1a1a1a;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
#select-del {
  font-size: 1.2rem;
  font-weight: var(--fw);
  word-spacing: 0.2rem;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid #088178;
}
.coupon input {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid #1a1a1a;
  padding: 1rem;
}
.checkOut,
.promo-btn {
  background-color: #088178;
  color: var(--white);
  font-weight: var(--fw);
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
.checkOut {
  width: 100%;
}
.checkOut:hover,
.promo-btn:hover {
  background-color: #044a46;
  letter-spacing: 0.2rem;
}
.total {
  border-top: 0.2rem solid #1a1a1a;
  padding-top: 2rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.total h2 {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: var(--fw);
}
/* cart section ends */

.loader-container {
  overflow-y: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: #818ea0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader-container img {
  width: 15rem;
}

.loader-container.fade-out {
  opacity: 0;
  transform: scaleX(0);
}
